{% extends 'base.html' %}

<div class="container">
    {%  block content %}
 <h1>This is the page for your audits</h1>
    {% for au in all_audits %}



    <p>{{ au.audit_loc }} - {{ au.loc_name }} - {{ au.kitchen }} - {{ au.store_01 }} - {{ au.store_02 }} - {{ au.store_03 } -
        {{ au.playground_01 }} - {{au.playground_02 }} - {{ au.parents_rm_01 }} - {{ au.parents_rm_02 }} - {{ au.office_01 }}
        - {{ au.office_02 }} - {{ au.office_03 }} - {{ au.doctors_office_01 }} - {{ au.doctors_office_02 }}</p><hr>

    {% endfor %}

    {% endblock %}
</div>

