{% extends 'base.html' %}
{% load static %}

<div class="container">
    {%  block content %}

        <h1 class="hearer">QMO Tools home page</h1>
               {% for item in all %}

               <div class="container">
               <h3>Welcome to QMO Tools page!</h3>

            </div>
            <div>
                <span>Email: {{ item.email }}  -    </span>
                <strong>QMO Level: </strong>{{ item.qmo_level }}
            </div>
            <hr>

        {% endfor %}

    {% endblock %}
</div>