<div class="bg-primary p-2" style="--bs-bg-opacity: .5;" id="navbarToggleExternalContent" data-bs-theme="dark">
  <div class="p-4">
    <h5 class="text-body-emphasis h4"><h1>QMOS Tools</h1></h5>
    <span class="text-body-secondary">The Ultimate Tools site!</span>
  </div>
</div>
<nav class="navbar navbar-dark bg-dark">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button><span>MEDIREST</span>
  </div>
</nav>