body {
    background-color: #efe9e1;
    color: 111;

}
.sm-header div{
    --bs-light-text-emphasis: #495057;
}

.header p{
    color: orange;
    background-color: #7teared717;
}

h1{
    font-size:3rem;
    color: rgb(18 82 135 / 88%);
    background-color: #ff bf0014;
}
span {
    color: light-blue;
}