body {
    background-color: #d9d9e4;
    color: 111;

}
.header p{
    color: orange;
    background-color: #7eaeb717;
}

h1{
    font-size:3rem;
    color: rgb(18 82 135 / 88%);
    background-color: #ffbf0014;
}
span {
    color: light-blue;
}